.section-cart {
  text-align: center;
  padding-top: 6em;
  .cart-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: calc(90vh - 6em);
    justify-content: space-around;
  }
}
