.nav-menu-active {
 .nav-btn-container {
    .bar1 {
      transform: translateY(0.5rem) rotate(45deg);
    }
    .bar2 {
      opacity: 0;
    }
    .bar3 {
      transform: translateY(-0.5rem) rotate(-45deg);
    }
  }
  .nav-menu-container {
    height: 11em;
  }
}
