.search-criteria {
  overflow: hidden;
}

.search-criteria-input {
  background: rgb(255, 199, 91);
  border: 1px solid rgb(245, 159, 51);
  border-radius: 2px;
  margin-right: 0.6em;
  max-width: 25vw;
}
