.nav-menu-container {
  overflow: hidden;
  position: absolute;
  right: 2em;
  top: 3em;
}

.nav-menu {
  background: var(--main-bg);
  border-radius: 2px;
  overflow: hidden;
}

.nav-menu-link {
  margin: 0.7em 2em;
}
