.single-product {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 4.3em;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  width: 100vw;
  .image {
    height: 75vw;
    max-height: 540px;
  }
  .single-product-carousel {
    align-self: flex-start;
    display: flex;
    margin-top: 0.5em;
    .image {
      cursor: pointer;
      height: 15vh;
      max-height: 150px;
      max-width: 112px;
      margin-right: 0.2em;
      width: calc(15vh * 3 / 4);
    }
  }
  .hr-line {
    margin: 0.7em;
  }
  .single-product-description {
    width: 90%;
    h2 {
      margin-bottom: 0.7em;
    }
    .single-product-text {
      margin-bottom: 2em;
    }
  }
  .single-product-btns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3em;
    width: 90%;
    button {
      border: 1px solid rgb(200, 200, 200);
      border-radius: 3px;
      padding: 0.3em;
      width: 8.3em;
    }
  }
}
