.single-placeholder {
  .single-placeholder-imageview {
    display: flex;
    flex-direction: column;
    .single-placeholder-image {
      background: rgb(200, 200, 200);
      height: 40vh;
      margin-bottom: 0.5em;
      min-height: 200px;
      width: 100%;
    }
    .single-placeholder-image-carousel {
      display: flex;
      margin-bottom: 2em;
      overflow: scroll;
      .placeholder-carousel-image {
        background: rgb(200, 200, 200);
        flex-shrink: 0;
        height: 100px;
        width: 80px;
        margin-right: 0.5em;
      }
    }
  }
  .single-placeholder-description {
    margin: auto 5%;
    .single-placeholder-price {
      margin: 0.5em;
    }
  }
  .single-placeholder-add-cart {
    margin-bottom: 2em;
    margin-top: 1em;
    text-align: center;
  }
  .single-placeholder-related {
    display: flex;
    flex-direction: column;
    align-items: center;
    .placeholder-related-caption {
      margin-top: 2em;
    }
    .placeholder-related-products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
