.nav-expand-container {
  display: flex;
  height: 4.3rem;
  transition: all 300ms ease-in-out;
  width: 4.3rem;
  .nav-expand-btn {
    display: flex;
    flex-direction: column;
    height: 1.8rem;
    justify-content: space-around;
    margin: auto;
    transition: all 100ms ease-in-out;
    width: 2rem;
    .nav-expand-bar {
      background: black;
      height: 1px;
      transition: all 300ms ease-in-out;
    }
  }
}

.active {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  .nav-expand-btn {
    .nav-expand-bar {
      background: white;
    }
  }
  .bar1 {
    transform: translateY(0.6rem) rotate(45deg);
  }
  .bar2 {
    opacity: 0;
  }
  .bar3 {
    transform: translateY(-0.6rem) rotate(-45deg);
  }
}

@media screen and (min-width: 800px) {
  .nav-expand-container:not(.active) {
    .nav-expand-btn:hover {
      height: 2.4rem;
    }
  }
}
