.section-home {
  padding-top: 6em;
  text-align: center;
  .home-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: calc(90vh - 6em);
    justify-content: center;
    button {
      &:hover {
        padding: 0.4em 2em;
      }
    }
  }
}
