.header {
  align-items: center;
  background: rgb(230, 230, 230);
  display: flex;
  flex-direction: row;
  height: 4.3em;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  h1 {
    margin-left: 1em;
  }
}
