.section-contact {
  padding-top: 6em;
  .contact-caption {
    text-align: center;
  }
  .contact-content {
    align-items: center;
    display: flex;
    min-height: calc(90vh - 6em);
    flex-direction: column;
    justify-content: center;
  }
}
